.menu {
    padding: 0;
    margin: 0;
    background-color: var(--segunda-cor-de-fundo);
    color: var(--cor-da-fonte);
}

.menu nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.menu div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menu img {
    width: 2rem;
    height: 2rem;
}

.menu h3 {
    font-size: 0.600rem;
}

.menu ul {
    font-size: 0.600rem;
    display: flex;
}

.menu__item__lista {
    display: none;
}

.menu__box__lista__email {
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .menu img {
        width: 4rem;
        height: 4rem;
    }

    .menu h3 {
        font-size: 1rem;
    }

    .menu ul {
        font-size: 1rem;
    }

    .menu__box__lista__email {
        font-weight: 700;
    }
}

@media screen and (min-width: 1440px) {
    .menu nav {
        /* justify-content: space-evenly; */
        padding: 0 250px 0 250px;
    }

    .menu img {
        width: 5rem;
        height: 5rem;
    }

    .menu h3 {
        font-size: 1rem;
    }

    .menu ul {
        gap: 32px;
    }

    .menu__item__lista {
        display: block;
    }

}