.formacao {
    margin: 0;
    padding: 0;
    background-color: var(--segunda-cor-de-fundo);
    color: var(--cor-da-fonte);
    text-align: center;
    padding: 10px;
}

.formacao__div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.formacao h2 {
    font-size: 0.950rem;
    font-weight: 700;
    padding: 10px;
}

.linha__formacao__um,
.linha__formacao__dois {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formacao__box {
    width: 298px;
    height: 182px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.formacao__box__info {
    flex-direction: column;
}

.formacao__box__info h4 {
    font-size: 0.850rem;
    font-weight: 700;
    padding-top: 20px;
}

.formacao__box__info p {
    font-size: 0.650rem;
    font-weight: 500;
}

.formacao__box img {
    width: 60%;
    height: 60%;
}

@media screen and (min-width: 768px) {
    .formacao__div {
        flex-direction: row;
    }

    .formacao h2 {
        font-size: 1.375rem;
    }

    .formacao__box {
        width: 298px;
        height: 182px;
    }

    .formacao__box__info h4 {
        font-size: 1rem;
    }

    .formacao__box__info p {
        font-size: 0.950rem;
    }

    .formacao__box img {
        width: 60%;
        height: 60%;
    }
}

@media screen and (min-width: 1440px) {
    .formacao {
        padding: 50px;
    }

    .formacao h2 {
        font-size: 2rem;
        padding: 30px;
    }

    .formacao__div {
        gap: 100px;
    }

    .formacao__box {
        width: 368px;
        height: 286px;
    }

    .formacao__box img {
        width: 70%;
        height: 70%;
    }

    .formacao__box__info h4 {
        font-size: 1.375rem;
    }

    .formacao__box__info p {
        font-size: 1rem;
    }
}